@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.over-image-para {
  text-shadow: 4px 2px white;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(./assets/slide_image_1.jpg);
  background-size: cover;
  animation: slideImage 10s infinite 5s;
}

@keyframes slideImage {
  0% {
    background: url(./assets/slide_image_2.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url(./assets/slide_image_2.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url(./assets/slide_image_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px black;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  position: relative;
  padding: 5px 0;
  font-size: 17px;
  font-weight: 800;
  text-shadow: 2px 1px black;
}

.navbar,
.read-more-btn {
  text-decoration: none;
}

.read-more-btn:hover {
  color: #fff;
}

.navbar:hover {
  color: #fff;
}

.read-more-btn {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 16px 40px;
  margin: 60px 0px 45px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #0a0a0a;
}

.horizontal-line {
  color: white;
  border: 1.5px solid white;
  opacity: 2;
}

.content {
  position: absolute;
  top: 20%;
  left: 8%;
  right: 8%;
}

.content .title {
  color: #0a0a0a;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h1 {
  color: #1f1f25;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}

.content h1 span {
  color: #fd4766;
}

.content p {
  width: 55%;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
}

/* test */
.parent-container,
.child-container {
  display: flex;
}

.parent-container {
  width: 80%;
  margin: 5% auto !important;
}

.child-container {
  width: 30%;
  height: auto;
  gap: 30px 30px;
  flex-direction: column;
}

.child-container img {
  transition: all 1s ease-in-out 0s;
  box-shadow: 2px 2px 20px gray, inset 2px 2px 10px lightgray;
}

.child-container img:hover {
  box-shadow: 4px 4px 25px black, inset 2px 2px 2px 10px rgb(0, 0, 20);
}

/* testimonials ----------------------------------------------------------------------*/
.testimonials-heading {
  font-size: 35px;
  margin: 20px 0;
  font-weight: 600;
}

.testimonials-image {
  margin: 20px 0;
}

.testimonials-para {
  margin-top: 35%;
}

.testimonials-image .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 1px 3px 2px;
  border-radius: 5%;
}

/* full page image */
.full-image {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/firstimage3.jpg);
  animation: slideImageInside 5s infinite ease-in-out;
  animation-direction: alternate;
}

@keyframes slideImageInside {
  0% {
    background: url(./assets/full-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
  }
  50% {
    background: url(./assets/firstimage3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 100;
  }
  100% {
    background: url(./assets//full-image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
  }
}
.full-image .text-para {
  color: white;
}

.overlap-para {
  color: white;
  font-size: 45px;
  margin: 15% auto;
}

/* text paragraph section */
.para-heading {
  font-weight: 600;
  margin: 5%;
}

.para {
  margin: 10% auto 8%;
  text-wrap: pretty;
}

.button {
  color: white;
}

.full-slider {
  width: 50%;
  margin: auto;
}

.behind {
  margin-top: 5%;
}

.behind_img {
  box-shadow: -22px 18px 0px 8px lightgrey;
}

.behind-heading {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 10%;
  width: 37%;
}

.behind-para {
  padding: 0 20px 0 100px;
}

/* footer style*/
.footer {
  background-color: red;
}/*# sourceMappingURL=style.css.map */